@{
  
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MusicDB - @ViewBag.Title</title>
  <link rel="stylesheet" href="~/bootstrap.css"/>
</head>

<body>

  <div class="row p-3">
    <div class="col-sm-9 px-3">
      @if (ViewBag.Title == "Index") {
        <h2>Welcome to Music DB</h2>
      } else {
        <h2>@ViewBag.Title</h2>
      }
      <hr/>
      <div class="row">@RenderBody()</div>
    </div>
    <div class="col-sm-3 px-5">
      <div class="input-group mb-3">
        <form action="/search" method="POST">
          <div class="input-group-append">
            <input type="text" name="search" class="form-control"/>
            <input type="submit" value="Search" class="btn btn-outline-secondary"/>
          </div>
        </form>
      </div>
      @if (ViewBag.Title == "Index") {
        @if (ViewBag.User != null) {
          <span>Hello, @ViewBag.User!</span>
        } else {
          <a href="/register">Register</a>
        }
      } else {
        <a href="/">Back to Index</a>
      }
    </div>
  </div>

</body>

<script src="~/route.js"></script>

</html>

}