@{

  ViewBag.Title = $"Artist Page: {ViewBag.Artist.Name}";
  Layout = "_layout.cshtml";

  var Artist = ViewBag.Artist;
  var Songs = ViewBag.Songs;
  
  Func<object,bool> notEmpty = str => str != null && str.ToString().Length > 1;
  var ProfileLink = $"/artists/{Artist.Id}";
  var InstagramLink = $"http://www.instagram.com/{Artist.Instagram}";
  var TwitterLink = $"http://www.twitter.com/{Artist.Twitter}";

  <div class="col-sm-4 px-3">
    <div><img src=@Artist.Image width="100%" /></div>
  </div>

  <div class="col-sm-4 px-3">
    <h4>Top 10 Songs</h4>
    @foreach (var song in Songs) {
      <p><a href=@song.Url>@song.Title</a></p>
    }
  </div>

  <div class="col-sm-4 px-3">
    <h4>Links</h4>
    <a href=@Artist.Url>Genius</a>
    @if (notEmpty(Artist.Instagram)) { <br/><a href=@InstagramLink>Instagram</a> }
    @if (notEmpty(Artist.Twitter)) { <br/><a href=@TwitterLink>Twitter</a> }
  </div>

}