@{

  ViewBag.Title = "Index";
  Layout = "layout.cshtml";
  Func<object,bool> notEmpty = str => str != null && str.ToString().Length > 1;

  <div class="row p-3">
    <div class="col-sm-12 px-3">
    <h2>Index Page (artists)</h2>
    </div>
  </div>

  <div class="row p-3">

    <div class="col-sm-6 px-3">

      @foreach (var artist in ViewBag.Artists) {

        var ProfileLink = $"/artists/{artist.Id}/profile";
        var InstagramLink = $"http://www.instagram.com/{artist.Instagram}";
        var TwitterLink = $"http://www.twitter.com/{artist.Twitter}";

        <div>
          <h4>@artist.Name</h4>
          <p>
            <a href="@ProfileLink"><img src=@artist.Image width=100 height=100 /></a><br/>
            <a href=@artist.Url>Genius</a>
            @if (notEmpty(artist.Instagram)) { <br/><a href=@InstagramLink>Instagram</a> }
            @if (notEmpty(artist.Twitter)) { <br/><a href=@TwitterLink>Twitter</a> }
          </p>
        </div>

      }
    </div>

    <div class="col-sm-6 px-3">
        <form action="songs" method="get">
            <input type="text" name="text"/>
            <button type="submit">Search</button>
        </form>
    </div>

  </div>

}