@{

  ViewBag.Title = "Index";
  Layout = "_layout.cshtml";
  Func<object,bool> notEmpty = str => str != null && str.ToString().Length > 1;

  <div class="col-sm px-3">
    @foreach (var artist in ViewBag.Artists) {
      var ProfileLink = $"/artists/{artist.Id}";
      <a href="@ProfileLink">
        <img src=@artist.Image
          title="@artist.Name" 
          width=148
          height=148
        />
      </a>
    }
  </div>

}